.section {
  padding: 2em 0 1em;
}

a {
  color: white;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
}

.nav-link.active {
  font-weight: bold;
  background-color: #316df4;
  color: white;
}

.navbar-brand {
  padding-left: 20px;
}

#navbarNav {
  padding-left: 20px;
}

input[type='text'],
input[type='email'],
textarea#message {
  background-color: #333;
  color: #fff;
  border: 1px solid #444;
}

.img-fluid {
  display: block;
  margin-bottom: 15px;
}

.lang-logo {
  padding: 20px;
}

.evenmore {
  margin-top: 30px;
}

.fade-in {
  opacity: 0;
  transition: opacity 3s ease-in-out;
}

.fade-in.show {
  opacity: 1;
}

.pointer {
  cursor: pointer;
}

.darker-button-shadow {
  background-color: rgba(0, 0, 0, 0.5);
}

.titleimages {
  margin-bottom: 20px;
}

.toptitle {
  margin-top: 20px;
}

.description-title {
  max-width: 800px;
}

#training {
  padding-top: 20px;
}

#profilepic {
  max-width: 300px;
}

#ecclectic {
  margin-bottom: 0;
}

#mystory {
  margin-top: 20px;
}

#arrow {
  max-width: 150px;
}

.project-pic {
  max-width: 600px;
}
