:root {
  --sword-buff-green: rgb(110, 235, 110);
  --sword-buff-blue: rgb(65, 110, 208);
  --sword--buff-yellow: rgb(255, 231, 160);
  --sword-buff-red-due: rgb(255, 185, 185);
}

* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,
body {
  overscroll-behavior: none;
}

body {
  min-width: 360px;
}

button {
  border-radius: 12px;
  font-size: 16px;
  padding: 8px;
  margin: 3px;
  font-weight: 500;
  border: 2px solid black;
  min-width: 55px;
  background-color: white;
}

h1,
h2,
h4 {
  text-align: center;
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    'sidebar-left header sidebar-right'
    'sidebar-left user-verses sidebar-right'
    'sidebar-left drop-area sidebar-right'
    'sidebar-left word-bank sidebar-right'
    'sidebar-left footer sidebar-right'
    'feedback feedback feedback';
}

header {
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  z-index: 9999;
}

#progress-bar {
  width: 100%;
  height: 20px;
  border-radius: 20px;
  background-image: linear-gradient(to right, lightgray 0%, lightgray 100%);
  margin-top: 10px;
}

#progress-bar::-moz-progress-bar {
  background-image: linear-gradient(
    to right,
    var(--sword-buff-green) 0%,
    var(--sword-buff-green) 100%
  );
}

#progress-bar.complete {
  background-image: linear-gradient(
    to right,
    var(--sword-buff-green) 0%,
    var(--sword-buff-green) 100%
  );
}

#progress-bar::-webkit-progress-bar {
  background-color: lightgray;
  border-radius: 20px;
}

#progress-bar::-webkit-progress-value {
  background-image: linear-gradient(
    to right,
    rgb(0, 226, 0) 0%,
    rgb(0, 226, 0) 100%
  );
  border-radius: 20px;
}

#progress-bar.complete::-webkit-progress-value {
  background-image: linear-gradient(
    to right,
    var(--sword-buff-green) 0%,
    var(--sword-buff-green) 100%
  );
}

.sidebar-left {
  grid-area: sidebar-left;
}

.sidebar-right {
  grid-area: sidebar-right;
}

#drop-area {
  grid-area: drop-area;
  display: flex;
  flex-direction: column;
}

#drop-line {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0;
  overflow: auto;
  align-self: flex-start;
}

.word-button {
  transition: background-color 2s ease-out;
}

.word-button.instant-green {
  background-color: var(--sword-buff-green);
  transition: none;
}

#word-bank {
  grid-area: word-bank;
  justify-content: center;
  align-items: baseline;
  vertical-align: top;
  flex-wrap: wrap;
  overflow: auto;
  border-top: 4px solid lightgray;
  padding-top: 5px;
}

.title {
  grid-area: title;
}

.logo {
  grid-area: logo;
}

.logo img {
  height: auto;
  max-height: 68px;
  max-width: 100%;
  margin-right: 20px;
}

nav {
  grid-area: menu-button;
}

nav img {
  height: auto;
  max-height: 30px;
  max-width: 100%;
}

#verse {
  grid-area: verse;
}

#footer-container {
  grid-area: feedback;
  margin: 0px;
}

#footer {
  grid-area: footer;
  display: flex;
  z-index: 9999;
}

#input-box,
#keyboard-input {
  border-radius: 12px;
  font-size: 16px;
  padding: 8px;
  font-weight: 500;
  border-color: gray;
  width: 100%;
}

.check-area {
  flex: 1;
  justify-content: space-between;
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 0 10px;
}

.red-button {
  background-color: red;
  color: white;
}

.green-button {
  background-color: var(--sword-buff-green);
  color: white;
}

.blue-button {
  background-color: var(--sword-buff-blue);
  color: white;
}

.list-button {
  font-weight: bold;
}

.score-circle {
  display: inline-block;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  border-radius: 50%;
  font-size: 1rem;
  margin-left: 10px;
  font-weight: bold;
  color: black;
}

.score-red {
  background-color: var(--sword-buff-red-due);
}

.score-yellow {
  background-color: var(--sword--buff-yellow);
}

.score-green {
  background-color: var(--sword-buff-green);
}

.score-blue {
  background-color: var(--sword-buff-blue);
  color: white;
}

#move-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#check-results {
  text-align: center;
  font-size: 14px;
  width: calc(100% - 20px);
}

.result-box {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
  background-color: white;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

.result-box p {
  margin: 0;
}

.result-box button {
  margin: 0 10px;
}

.correct {
  background-color: var(--sword-buff-green);
}

.incorrect {
  background-color: var(--sword-buff-red-due);
}

.finished-word {
  background-color: rgb(149, 149, 149);
  color: lightgray;
  transition-delay: 1s;
}

#verse-list {
  text-align: center;
  margin: 5;
  padding: 0;
}

#verse-list button {
  display: inline-block;
  margin: 5;
}

#progress-bar,
#word-bank,
#footer {
  display: none;
}

.toggle-container {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

.switch input:checked + .slider {
  background-color: var(--sword-buff-blue);
}

.switch input:checked + .slider:before {
  transform: translateX(26px);
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px var(--sword-buff-blue);
}

.toggle-label {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #333;
}

.toggle-button-group {
  display: inline-flex;
  border-radius: 5px;
  overflow: hidden;
}

.toggle-button {
  background: #f0f0f0;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  flex: 1;
  transition: background-color 0.3s;
  font-size: 16px;
}

.toggle-button:not(:last-child) {
  border-right: 1px solid #ccc;
}

.toggle-button.active {
  background: var(--sword-buff-blue);
  color: #fff;
}

#user-verses {
  margin: auto;
  grid-area: user-verses;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#user-select {
  margin: auto;
  margin-bottom: 20px;
  border-bottom: 4px solid lightgray;
}

.hidden {
  display: none;
}

@media (min-width: 769px) {
  .grid-container {
    grid-template-columns: 1fr minmax(768px, 1fr) 1fr;
  }
}

@media (max-width: 970px) {
  .side-bottom {
    flex: 0;
  }
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      'header'
      'user-verses'
      'drop-area'
      'word-bank'
      'footer'
      'feedback';
  }
  .sidebar-left,
  .sidebar-right,
  #check-results,
  #wordbank-toggle-container {
    display: none;
  }
  .check-area > div {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  button {
    font-size: 20px;
    padding: 8px;
  }
  .toggle-button {
    font-size: 20px;
  }
}

.celebrate {
  animation: pulse-glow 1s ease-in-out 2;
}

@keyframes pulse-glow {
  0% {
    text-shadow: 0 0 0px rgba(0, 255, 0, 0.7);
  }
  50% {
    text-shadow: 0 0 20px rgba(0, 255, 0, 0.9);
  }
  100% {
    text-shadow: 0 0 0px rgba(0, 255, 0, 0.7);
  }
}

.encouragement {
  display: block;
  color: black;
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

/* Style the new footer */
.main-footer {
  text-align: center;
  padding: 10px;
  background-color: #f1f1f1; /* Light grey background */
  border-top: 1px solid #ccc;
  font-size: 0.9rem;
  margin-top: auto; /*This pushes it to the bottom in a flex container */
  width: 100%;
}

.main-footer a {
  color: #333;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
}

.main-footer a:hover {
  text-decoration: underline;
}
